<table border="1">

    <tr>
        <th>ISBN编码</th>
        <th>书名</th>
        <th>作者</th>
        <th>出版社</th>
        <th>出版日期</th>
        <th>借阅时限（天）</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>
            <input type="text" name="ISBN" id="TextISBN01" value=123 />
        </td>
        <td>
            <input type="text" name="BookName" id="BookName" />
        </td>
        <td>
            <input type="text" name="Author" id="Author" />
        </td>
        <td>
            <input type="text" name="Publisher" id="Publisher" />
        </td>
        <td>
            <input type="text" name="PubDate" id="PubDate" />
        </td>
        <td>
            <input type="text" name="TimeLimit" id="TimeLimit" />
        </td>
        <td>
            <input type="button" value="更新" id="BtnUpdateItem">
            <input type="button" value="删除" id="BtnDeleteItem">
        </td>
</table>